body{
  background-color: rgb(20, 20, 20);
}
.card {
  background-color: white;
  color: black;
  border-radius: 12px;
  padding: 20px 60px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product{
  display: flex;
  gap: 10px;
}