body{
    background: var(--body-bg);
    font-family: Arial, sans-serif;
    margin: 40px;
    line-height: 1.5;
    color: var(--text);
}

.card{
    background: var(--card-bg);
    padding: 20px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

h1{
    font-size: 28px;
    font-weight: 600;
    margin-left: 40px;
}
h2{
    font-size: 24px;
}
p{
    margin-left: 25px;
}
input{
    margin-left: 25px;
    height: 30px;
    width: 285px;
    padding-left: 15px;
    border-radius: 10px;
    border: 1px solid var(--text);
    background-color: var(--card-bg);;
}
button {
    background: var(--btn-bg);
    color: var(--card-bg);
    font-weight: 600;
    border: 2px solid var(--card-bg);
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 25px;
}
button:hover {
    background: var(--card-bg);
    border: 2px solid var(--btn-bg);
    color: var(--btn-bg);
}
.delBtn{
    padding: 3px 10px;
    font-weight: 500;
    font-size: 10px;
}

:root{
    --body-bg: #dedee4;
    --card-bg: white;
    --text: black;
    --btn-bg: #3d366f;
}

body.dark{
    --body-bg: black;
    --card-bg: #11112a;
    --text: white;
    --btn-bg: #808db5;
}