body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.container div{
    width: 200px;
    height: 200px;
}

.navbar{
    background-color: rgb(45, 44, 51);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    height: 50px;
    border-radius: 10px;
}
.navbar a{
    color: white;
    text-decoration: none;
}

.cards{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
}
.cards div{
    width: 250px;
    height: 120px;
    border: 1px solid black;
    background-color: rgb(192, 192, 192);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px;
}
.cards div p{
    font-size: 24px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.cards div button{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 240px;
    height: 50px;
    border-radius: 15px;
    border: none;
    background-color: rgb(45, 44, 51);
    color: white;
    cursor: pointer;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 80vh;
    background-color: rgb(19, 49, 71);
}
.center div{
    width: 100px;
    height: 100px;
    background-color: rgb(192, 192, 192);
}

.layout{
    display: flex;
    flex-direction: column;
    width: 1200px;
}
header{
    background-color: rgb(45, 44, 51);
    width: 100%;
    height: 80px;
}
main{
    display: flex;
    height: 500px;
}
.main{
    flex: 2;
    background-color: rgb(192, 192, 192);
}
.sidebar{
    flex: 1;
    background-color: rgb(68, 91, 112); 
}
footer{
    background-color: rgb(91, 51, 51);
    width: 100%;
    height: 50px;
}