body{ 
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
}
input{ 
    width: 300px;
    padding: 10px; 
}
button{ 
    background-color: black;
    color: white;
    border: none;
    padding: 12px 16px; 
}
.movie{ 
    border: 2px solid black;
    padding: 10px; 
    border-radius: 6px; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    margin: 10px 0px;
}
.movie img{ 
    width: 80px; 
    margin-right: 10px; 
    border-radius: 5px; 
}
.details{ 
    margin-top: 20px; 
    background: white; 
    padding: 15px;
    border-radius: 8px; 
}