@mixin header(){
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 600px;
    height: 30px;
    position: sticky;
    top: 20px;
    border-radius: 15px;
}
@mixin main(){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    gap: 20px;
    margin-top: 10px;
}
@mixin main-1(){
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
    gap: 10px;
}
@mixin main-1-bottom(){
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 650px;
    align-self: flex-end;
}
@mixin main-1-btns(){
    display: flex;
    flex-direction: column;
    gap: 5px;
}
@mixin main-2(){
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 104%;
    gap: 5px;
}
@mixin main-4{
    display: flex;
    flex-wrap: wrap;
    width: 104%;
    gap: 12px;
}
@mixin card{
    background-color: white;
    border-radius: 10px;
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding: 10px 0;
    padding-bottom: 20px;
}
@mixin main-5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: white;
    width: 100%;
    height: 180px;
    padding-bottom: 40px;
    border-radius: 10px;
    padding: 0 20px;
}
@mixin main-6{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    background-color: white;
    width: 1300px;
}
@mixin main-6-btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 40px;
    gap: 10px;
}
@mixin main-6-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 40px;
}
@mixin main-6-text-1{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    gap: 50px;
}
@mixin footer{
    background-color: white;
    width: 500px;
    height: 50px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

body{
    background-image: url(img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    p{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    a{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        text-decoration: none;
        color: black;
    }
    .header{
        @include header;
        img{
            height: 100%;
        }
        button{
            padding: 3px 20px;
            border: 1px solid black;
            background-color: white;
            color: black;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .main{
        @include main; 
        .main-1{
            @include main-1; 
            .main-1-img{
                width: 100%;
                img{
                width: 100%;
                border-radius: 10px
            }
            }
            .main-1-bottom{
                @include main-1-bottom();
                .main-1-btns{
                    @include main-1-btns();
                    button{
                        padding: 5px 120px;
                        border: none;
                        background-color: black;
                        color: white;
                        border-radius: 15px;
                        cursor: pointer;
                    }
                }
                img{
                    width: 50px;
                    cursor: pointer;
                }
            }
        }
        .main-2{
            @include main-2;
            img{
                width: 100%;
                border-radius: 15px;
            }
            .main-2-bottom{
                height: 400px;
                img{
                    height: 100%;
                    width: auto;
                }
            }
        }
        .main-3{
            display: flex;
            justify-content: end;
            width: 100%;
            button{
                padding: 8px 40px;
                border-radius: 15px;
                border: none;
                cursor: pointer;
            }
        }
        .main-4{
            @include main-4;
            .card{
                @include card;
                img{
                    width: 90%;
                    border-radius: 15px;
                }
                button{
                    padding: 10px 50px;
                    border-radius: 5px;
                    border: none;
                    cursor: pointer;
                    border-radius: 15px;
                    background-color: black;
                    color: white;
                }
            }
        }
        .main-5{
            @include main-5;
            .main-5-text{
                width: 100%;
                display: flex;
                align-items: start;
            }
            input{
                width: 650px;
                height: 40px;
                padding: 0 20px;
                margin: 20px;
                background-color: black;
                color: white;
                border-radius: 10px;
                border: none;
                text-align: left;
            }
        }
        .main-6{
            @include main-6;
            .main-6-btns{
                @include main-6-btns;
                button{
                    padding: 10px 150px;
                    border: none;
                    background-color: black;
                    color: white;
                    border-radius: 20px;
                    cursor: pointer;
                }
            }
            .main-6-right{
                @include main-6-right;
                .main-6-text-1{
                    @include main-6-text-1;
                }
                .main-6-icons{
                    display: flex;
                    flex-direction: row;
                    gap: 30px;
                    padding-left: 85px;
                    img{
                        width: 50px;
                        cursor: pointer
                    }
                }
            }
        }
    }
    .footer{
        @include footer;
    }
}