#card { 
    border: 1px solid rgb(188, 0, 119);
    border-radius: 12px;
    padding: 20px 0; 
    width: 200px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px; 
}

button { 
    background-color: rgb(188, 0, 119);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 7px 22px; 
    cursor: pointer;
}
