body{
    background-color: rgb(224, 233, 234);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    gap: 20px;
}
#products, #cart{
    background-color: white;
    width: 300px;
    padding: 30px;
    border-radius: 12px;

}
.product, .product-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
p{
    font-size: 18px;
}
button{
    background-color: black;
    color: white;
    border: 1px solid white;
    border: none;
    border-radius: 12px;
    padding: 5px 10px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
#clearBtn{
    padding: 5px 125px;
    border: none;
}